pageColor = #3ab2ec

/* index page */
body
	background pageColor
	font-family Verdana
	color white
.container
	width 60%
	margin 0 auto
h1
	font-size 2.5em
a
	text-decoration none
	text-transform uppercase
	font-weight bold
	background darken(pageColor, 40%)
	padding 8px
	color white
a:hover
	background darken(pageColor, 70%)		

/* input page */
input
	display block
	margin-top 5px
	margin-bottom 20px
	width 50%
	padding 6px
	box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
button 
	margin-bottom 20px
	width 50%
	height 30px
	padding 10px
	background lighten(pageColor, 20%)
	border none
	text-transform uppercase
	font-weight bold
	color white
button:hover
	background lighten(pageColor, 40%)
	cursor pointer

/* display page */