/* index page */
body {
  background: #3ab2ec;
  font-family: Verdana;
  color: #fff;
}
.container {
  width: 60%;
  margin: 0 auto;
}
h1 {
  font-size: 2.5em;
}
#navigation {
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: #1072a1;
  padding: 8px;
  color: #fff;
}
a:hover {
  background: #083950;
}
/* input page */
input {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 50%;
  padding: 6px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
button {
  margin-bottom: 20px;
  width: 50%;
  height: 30px;
  padding: 10px;
  background: #61c1f0;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
button:hover {
  background: #89d1f4;
  cursor: pointer;
}
/* display page */
