<label>Name: 
	<input 
	type="text" 
	ng-model="name" 
	placeholder="Give us a name!">
</label>
<label>Noun: 
	<input 
	type="text" 
	ng-model="noun1" 
	placeholder="How about a noun?">
</label>
<label>Adjective: 
	<input 
	type="text" 
	ng-model="adjective1" 
	placeholder="Now for an adjective">
</label>
<label>Adjective: 
	<input 
	type="text" 
	ng-model="adjective2" 
	placeholder="And another adjective">
</label>
<label>Noun: 
	<input 
	type="text" 
	ng-model="noun2" 
	placeholder="One more noun, please">
</label>
<label>Verb: 
	<input 
	type="text" 
	ng-model="verb1" 
	placeholder="Let's get a verb">
</label>
<label>Verb: 
	<input 
	type="text" 
	ng-model="verb2" 
	placeholder="One more verb will do it!">
</label>

<div>
	<button ng-click="save()">Mad-ify your libs! (Then click 'Display')</button>
</div>